@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}

.carta {
  /* margin: auto; */
  width: 150px;
  height: 200px;
  margin-top: 20px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.figura h1 {
  font-size: 40px;
}

.numero h1 {
  font-size: 65px;
}

.invertida {
  transform: rotate(180deg);
}
